@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: "Lexend", sans-serif;
}

.section-intro {
  background: url("./src/assets/clouds.png") repeat-x top center;
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 70px;
  border-right: 20px solid #fff;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  padding-top: 80px;
}

.name-font-custom-importan {
  font-family: "Sacramento", cursive !important;
}

/****** About ********/
a {
  border-bottom: 1px solid #e7e7e7;
  transition: 0.2s all ease;
  cursor: pointer;
  text-decoration: none;
  color: #838383;
}

a:hover {
  border-bottom: 1px solid #009ca8;
}

/****** Footer ********/
.footer-bg {
  background: url("./src/assets/footer.jpg") repeat-x top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 70px;
  border-right: 20px solid #fff;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  padding-top: 80px;
}
