@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: "Lexend", sans-serif;
}

.name-font-custom-important {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;

  /* Hunted */
  /* font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal; */
}

.section-intro {
  background: url("/src/assets/clouds.png") repeat-x top center;
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 70px;
  height: 40rem;
  /* border-right: 20px solid #fff; */
  /* border-left: 20px solid #fff; */
  /* border-top: 20px solid #fff; */
  padding-top: 80px;
}

/* Media query for screens 420px wide or smaller */
@media (max-width: 470px) {
  .section-intro {
    height: 100vh;
    background: url("/src/assets/clouds.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #41b0bf;
    padding-bottom: 70px;
    padding-top: 80px;
  }
}

/****** About ********/
a {
  border-bottom: 1px solid #e7e7e7;
  transition: 0.2s all ease;
  cursor: pointer;
  text-decoration: none;
  color: #838383;
  &:hover {
    border-bottom: 1px solid #009ca8;
  }
}

/* a:hover {
} */

/****** Footer ********/
.footer-bg {
  background: url("/src/assets/footer.jpg") repeat-x top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 70px;
  border-right: 20px solid #fff;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  padding-top: 80px;
}

/* Projects */

